/* ---------------------------------------------------------
    * Name: PureChair - Premium Furniture Store
    * Version: 1.0.0
    * Author: Your Name
    * Author URI: http://yourwebsite.com 

	* Abstracts variable
    
    * Reset css styles

    * Components

        * header
        * footer
        * tabs
        * slider banner
        * button
        * form
        * nice select
        * carousel
        * career
        * avatar
        * pop up
        * box icon
        * hover
        * collection
        * product
        * blog
        * testimonial
        * lookbook
        * accordion
        * zoom
        * shop
        
    * section

    * Responsive
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "abstracts/index";

/*---------- Reset css styles ----------- */
@use "reset";

/*------------ Components ---------------- */
@use "component/index" as index2;

/*------------ sections ---------------- */
@use "sections";

/*------------ pages ---------------- */
@use "pages/career";

/*-------------- Responsive ----------------- */
@use "responsive";

/*-------------- RTL ----------------- */
@use "rtl";

@use "custom.scss";
